<!-- Error page-->



<!-- Forgot Password v1 -->
<div class="text-center mb-3">
  <img src="./assets/images/logo/credicompra.png" width="250">
</div>
<div class="card mb-0">
  <div class="card-body">
    <div class="card profile-header mb-2">
      <!-- profile cover photo -->

      <form class="auth-login-form mt-2" [formGroup]="formSolicitud">
        <h3>
          DATOS GENERALES DE SU EMPRESA O NEGOCIO
        </h3>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>
                Correo electronico:
              </label>
              <input type="text" formControlName="correo"
                     class="form-control"
                     value="">
            </div>
            <div *ngIf="submitted && controlsFrom.correo.errors"
                 class="invalid-feedback"
                 style="display: block;">
              <div *ngIf="controlsFrom.correo.errors.required">
                No cumple el formato
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                Nombre del representante legal o dueño del negocio:
              </label>
              <input type="text" formControlName="reprsentante"
                     class="form-control"
                     value="">
            </div>
            <div *ngIf="submitted && controlsFrom.reprsentante.errors"
                 class="invalid-feedback"
                 style="display: block;">
              <div *ngIf="controlsFrom.reprsentante.errors.required">
                Nombre del representante es requerido
              </div>
              <div *ngIf="controlsFrom.reprsentante.errors.minlength">
                Ingrese minimo 8 caracteres
              </div>
              <div *ngIf="controlsFrom.reprsentante.errors.pattern">
                Ingrese solo letras
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                RUC de su empresa o negocio:
              </label>
              <input type="text" formControlName="rucEmpresa"
                     class="form-control"
                     value="">
            </div>
            <div *ngIf="submitted && controlsFrom.rucEmpresa.errors"
                 class="invalid-feedback"
                 style="display: block;">
              <div *ngIf="controlsFrom.rucEmpresa.errors.required">Ruc es
                requerido
              </div>
              <div *ngIf="controlsFrom.rucEmpresa.errors.minlength">
                Ingrese minimo 13 caracteres
              </div>
              <div *ngIf="controlsFrom.rucEmpresa.errors.maxlength">
                Ingrese maximo 13 caracteres
              </div>
              <div *ngIf="controlsFrom.rucEmpresa.errors.pattern">
                Ingrese solo numeros
              </div>
              <div *ngIf="controlsFrom.rucEmpresa.errors.rucInvalid">
                Ruc invalido
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                Nombre comercial de su empresa o negocio:
              </label>
              <input type="text" formControlName="comercial"
                     class="form-control"
                     value="">
            </div>
            <div *ngIf="submitted && controlsFrom.comercial.errors"
                 class="invalid-feedback"
                 style="display: block;">
              <div *ngIf="controlsFrom.comercial.errors.required">
                Nombre comercial es requerido
              </div>
              <div *ngIf="controlsFrom.comercial.errors.minlength">
                Ingrese minimo 4 caracteres
              </div>
              <div *ngIf="controlsFrom.comercial.errors.pattern">
                Ingrese solo letras
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2 text-center">
          <button class="btn btn-primary mr-1" (click)="guardar()" style="color: black !important;">
            CONTINUAR
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
<!-- /Forgot Password v1 -->


<!-- / Error page-->

<ng-template #whatsapp let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
      <div class="alert-body">
        <p>{{ error }}</p>
      </div>
    </ngb-alert>
    <p class="text-primary font-weight-bold">Ingresa el código que hemos enviado a tu número de WhatsApp y valida tu
      cuenta</p>
    <div class="form-group">
      <input [(ngModel)]="codigo" class="form-control" type="text">
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="validarWhatsapp()" class="btn btn-primary">Validar</a>
  </div>
</ng-template>
<ng-template #mensajeModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div [innerHTML]="mensaje"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
  </div>
</ng-template>
