<!-- Error page-->
<div class="row">
    <section class="head-LP text-LP">
        <div class="container pb-5 text-center">
            <div class="card-body text-center">
                <img src="{{ coreConfig.app.appLogoImage }}" width="300">
            </div>
            <div class="row justify-content-center align-items-center mb-2">
                <div class="col-12 text-center">
                    <h2 class="font-weight-bolder azul2">
                        Gracias por enviar su Solicitud.
                    </h2>
                    <br>
                    <h5>
                        Está a 1 paso de acceder a su Crédito de Consumo para realizar compras en los mejores Locales Comerciales del país.
                    </h5>
                    <br>
                    <h5>
                        Validaremos la información enviada y nos comunicaremos a través de nuestro Agente Virtual
                        para Finalizar el Proceso desde el siguiente número 0980283746 y/o desde el siguiente
                        correo: info@corporacionomniglobal.com
                    </h5>
                    <br>
                    <h5>
                        Por su seguridad, NO comparta su información con ningún otro número
                        de teléfono o correo electrónico.
                    </h5>
                    <br>
                    <h5>
                        Si desea iniciar la comunicación para Finalizar el Proceso, haga click en el siguiente botón de WhatsApp.
                    </h5>
                    <a class="btn mx-3 mt-2 text-center pb-1 btn-social bg-whatsapp text-white"
                       href="https://wa.link/eefi0l" target="_blank">
                        <i class="fa fa-whatsapp"></i>      Whatsapp          
                    </a>
                    <br>
                    <br>
                    <h5 class="user-name font-weight-bolder text-center">
                        Visite
                        <a href="https://credicompra.com/">www.credicompra.com</a>
                        y navegue por todas las tiendas disponibles para realizar sus compras
                    </h5>
                </div>
                <br>

                <div class="col-md-12 mt-2">
                    <div class="col-md-12 ">
                        <a class="btn btn-primary" href="https://credicompra.com/" r>
                            CrediCompra
                        </a>
                    </div>
                </div>
            </div>
            <br>

            <app-footer > </app-footer>

        </div>
    </section>

</div>

<div class="footer-LP"></div>


