@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';
.auth-help-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.text-primary {
    color: #385e8c !important;
}

.btn-primary {
    color: #385e8c !important;
}

.btn-primary:hover {
    background-color: #385e8c !important;
    box-shadow: 0 8px 25px -8px white !important;
    color: white !important;
    border-color: #385e8c !important;
}

.disabled-input {
    background-color: #f0f0f0; /* Cambia el color de fondo a un tono gris */
    color: #999; /* Cambia el color del texto a un gris más claro */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
    pointer-events: none; /* Evita eventos de puntero, como clics */
    opacity: 0.7; /* Reduce la opacidad para dar una apariencia desactivada */
}
